@using AzureChallengeNetwork.Website.Entities
@using AzureChallengeNetwork.Website.Models
@model AzureChallengeNetwork.Website.Models.FeedViewModel
@{
    ViewBag.Title = "Feed";
}


<div class="row">
    <div class="col-md-8 col-lg-push-2">
        <h3>Hi @ViewBag.DisplayName</h3>
          
        @using (Html.BeginForm("Save", "Feed", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.ValidationSummary(true)

       
            <div class="form-group">
                @Html.TextAreaFor(m => m.ShareUpdateForm.Message, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ShareUpdateForm.Message, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.TextBoxFor(m => m.ShareUpdateForm.Image, new { @type = "file" })
                @Html.ValidationMessageFor(m => m.ShareUpdateForm.Image, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <input type="submit" value="Share" class="btn btn-success" />
            </div>
        }

    </div>

</div>

<div class="row">
    <div class="col-md-6 col-lg-push-2">
        <h2>Feed</h2>
        
        @foreach (PostModel userPost in Model.Posts)
        {
            <section>
                <p>
                    @userPost.PostedByUser.DisplayName - 
                    <strong>@userPost.UserPost.CreationDateTime.ToLongDateString() @userPost.UserPost.CreationDateTime.ToLongTimeString():</strong><br/>
                    @userPost.UserPost.Text
                </p>

                @if (userPost.ImagePosts.Any())
                {
               
                    foreach (var image in userPost.ImagePosts.Where(a => a.HasThumbnail))
                    {
                        <img src="@($"https://henkboelman.blob.core.windows.net/images/{image.ThumbnailFilename}")"  class="img-thumbnail"/>
                    }
                }
                <hr/>
            </section>
        }

    </div>
    
    <div class="col-md-4 col-lg-push-2">
        <h2>Friends</h2>
        <ul>
            @foreach (var friend in Model.Friends)
            {
                <li>
                    @friend.DisplayName<br/>
                    <small>@friend.ObjectId</small>
                </li>
            }
        </ul>
    </div>
</div>